{% extends "home/index.html" %}

{% load static %}

{% block title %}About Me{% endblock title %}

{% block content %}
<body>


<picture>

	<img src="{% static 'images/wald.avif' %}"  alt="shadow of myself" class="center" />
			
</picture>

<h2 class="center">Personal Details</h2>
<ul class="about">
	<li>	Name  🧑 	Michael Kubesch</li>
	<li>	From  🌍 	Planet Earth</li>
	<li>	Email 📧 	mkubesch@mikub.me</li>
</ul>

<h2 class="center">Overview</h2>
<p>
Fullstack Webdevelopment (Django, Python, DOM-Scripting, JavaScript).
My approach to Webdevelopment is to keep it simple, which means I like to use technologies
that have been proven to be stable and secure. <br>This website for example, was developed using
the Django Webframework, which is also used by companies like Instagram, 
The Washington Post and even NASA is using it.
In the background I'm using PostgreSQL for Database management.
Both, Django and PostgreSQL are some of the projects with the best documetation 
(<a href="https://docs.djangoproject.com/en/3.1/">Django</a>, <a href="https://www.postgresql.org/docs/current/">PostgreSQL</a>)
that you can find out there.
</p>




<p>

</p>
</body>
{% endblock %}


