{% extends "home/index.html" %}

{% load static %}

{% block title %}About Me{% endblock title %}

{% block content %}
    <h2>
        About Me
    </h2>
    <div class="about">
	<p> 
        Hi there! I'm Michael. I'm a passionate, self-taught programmer.
        Since I was a little kid I always wanted to know how the world
        and the things in it are working. Sometimes my parents had to pay
        the price for that curiosity, because opening the family VCR and
        have a look at the components inside was easier then figuring out
        how to put the whole thing back together, so that left my family
        sometimes with devices that "mysteriously" stoped working.
        But most of the time it wasn't my fault, I promise. 😉
    </p>
    <p>
        
    </p>
    </div>
	<h3>Skills</h3>
	<ul>
		<li>Programming Languages: Python, MicroPython, C, JavaScript</li>
		<li>Microcontroller Systems: ESP32, Pi Pico</li>
		<li>Web Technologies: HTML, CSS, Django</li>
		<li>Operating Systems: Linux (Debian, Ubuntu), Microsoft Windows</li>
		<li>Server Management: Nginx, Linux Administration</li>
		<li>Databases: PostgreSQL, SQLite</li>
		<li>Version Control: Git, GitHub</li>
		<li>Tools: Vim/Neovim, Visual Studio Code, ESP-IDF</li>
	</ul>
	<h3>Experience</h3>
	<ul>
		<li>
			<strong>Self-Taught Developer</strong>
			<span>2019 - Present</span>
			<p>
                Developed and still maintaining a web application using Django
                on Debian/Linux, configured and deployed with Nginx for web
                server tasks.
			</p>
			<p>
                Worked on various Microcontroller projects using MicroPython and
                some C, ESP32, and Pi Pico.
			</p>
		</li>
	</ul>
	<h3>Projects</h3>
	<ul>
		<li>
			<strong>MyBlog</strong>
			<p>
                A personal blog and portfolio website to showcase projects and
                skills, built with Django.
			</p>
		</li>
		<li>
			<strong>Weatherstation</strong>
			<p>
                Created a Weatherstation using an Raspberry Pi Pico W.
                Integrated various sensors to monitor environmental conditions,
                the sensor data is also available via a Webserver that's running
                on the Pico W.
			</p>
		</li>
		<li>
			<strong>Restoring Vintage ThinkPads</strong>
			<p>
                Restored several vintage ThinkPads like a T43 from 2005, T500
                and an T420. Upgraded hardware components, did some neccessary
                cleaning and renewing thermal paste.
			</p>
		</li>
	</ul>
	<img src="{% static 'images/thinkpadCollection.jpg' %}" alt="my thinkpad collection" />

{% endblock %}
