{% extends "home/index.html" %}

{% load static %}

{% block title %}Impressum{% endblock title %}

{% block content %}

<body>

    <h1>Impressum</h1>
    Angaben gemäß § 5 TMG:
    <p><br>
        Michael Kubesch<br>
        Mikub-IT<br>
        Am Mühlbächl 2<br>
        64668 Rimbach
        <br>
    <h2>Kontakt:</h2>
    <table>
        <tbody>
            <tr>
                <td>Telefon:</td>
                <td>+49 6253 9789732</td>
            </tr>
            <tr>
                <td>E-Mail:</td>
                <td>mkubesch@mikub.me</td>
            </tr>
        </tbody>
    </table>

    <h2>Umsatzsteuer-ID:</h2>
    <p>
        Umsatzsteuer-Identifikationsnummer gemäß §27 a Umsatzsteuergesetz:
        <br>

        59 548 261 033
    </p>

    <h2>Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV:</h2>

    Michael Kubesch
    </p>
</body>
{% endblock %}