{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href={% static 'css/style.css' %}>
    <link rel="shortcut icon" type="image/x-icon" href={% static 'images/mikub-logo.png' %}>
    <title>{% block title %}Mikub IT{% endblock title %}</title>
</head>

<body>
    <header>
        <h1 class="headline">
        <img  class="logo" src="{% static 'images/mikub-logo.png' %}"  alt="myLogo"/>
        <a href="{% url 'post_list' %}">MIKUB IT</a>
        </h1>  
        <nav>
            <ul class="navig">
        	    <li><a href="{% url 'about' %}">About Me</a></li>
                <li><a href="{% url 'post_list' %}">Blog</a></li>
                <li><a href="{% url 'impressum' %}">Impressum</a>
                <li><a href="https://github.com/M-Kub">GitHub</a></li>
            </ul>
            {% if user.is_authenticated %}
            <ul class="navig">
                <li><a href="{% url 'post_new' %}">NewPost</a></li>
                <li><a href="{% url 'admin:index' %}">Admin</a></li>
                <li><a href="{% url 'admin:logout' %}">Logout</a></li>
            </ul>
            {% endif %}
        </nav>
      </header>

      
      <main class="wrapper">
        <!-- Begin page content -->
        {% block content %}

        {% endblock %}     
      </main>

</body>

</html>
