{% extends "home/index.html" %} 

{% block title %}{{ post.title }}{% endblock title %}

{% block content %} 

{% if post.published_date %}

{{ post.published_date }}

{% endif %} 


<h1>{{ post.title }}</h1>
<br>
{% if user.is_authenticated %}
<a href="{% url 'post_edit' pk=post.pk %}"><button>Edit</button></a>
{% endif %}
<br>
<br>
{% if post.image %}
    <a href={{ post.image.url }}>
    <img src={{ post.image.url }} />
</a>
{% endif %}
<br>
{% if post.document %}
<a href="{{ post.document.url }}"> <button>Download here</button></a>

{% endif %}

<p>{{ post.text|safe|linebreaksbr }}</p>


{% endblock %}
