*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-image: url('/static/images/textured_paper.png');
  font-family: Georgia, serif;
  font-size: 18px;
}
img, picture, video, canvas, svg {
  display: grid;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
  margin-bottom: 25px;
  margin-top: 25px;
}
code,kbd,pre,samp{
  font-family:Consolas,Liberation Mono,Menlo,Courier,monospace;
  font-size:.933rem;color:rgb(14, 13, 13);
}
pre {
  border-width:1px;
  border-radius:2px;
  padding:0.5ch;
}
pre,table{
  overflow-x:auto
}
pre, code {
  background-color:rgba(180, 176, 176, 0.932);
  border:none;
  padding:0;
  border:rgba(211, 208, 208, 0.1) solid;
  white-space: pre;
}
#root, #__next {
  isolation: isolate;
}
.wrapper {
  display: grid;
  grid-template-columns:
    1fr
    min(85ch, 100%)
    1fr;
}
.wrapper > * {
  grid-column: 2;
}
.full-bleed {
  width: 100%;
  grid-column: 1 / -1;
}
.navig {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  list-style-type: none;
}
.logo {
  height: 90px;
  width: 90px;
  align-items: left;
}
.headline {
    display: flex;
    flex-direction: row;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
}
  .postList {
    line-height: 15px;
    height: auto;
}
a:link, a:visited { 
  color: rgb(88, 85, 139); 
}
a:hover {
  color: rgb(66, 45, 139);
  --shadow-color: rgba(42, 50, 56, 0.671);
  filter: drop-shadow(1px 2px 8px var(--shadow-color))
}