*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-image: url('/static/images/textured_paper.png');
}
img, picture, video, canvas, svg {
  display: grid;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
code,kbd,pre,samp{
  font-family:Consolas,Liberation Mono,Menlo,Courier,monospace;
  font-size:.933rem;color:rgb(14, 13, 13);
}
pre {
  border-width:1px;
  border-radius:2px;
  padding:0.5ch;
  margin-top:calc(1.5rem - 1px)
}
pre, code {
  background-color:rgba(180, 176, 176, 0.932);
  border:none;
  padding:0;
  white-space:inherit;
  border:rgba(211, 208, 208, 0.1) solid;
  margin-bottom: 50px;
}
#root, #__next {
  isolation: isolate;
}
.wrapper {
  display: grid;
  grid-template-columns:
    1fr
    min(85ch, 100%)
    1fr;
}
.wrapper > * {
  grid-column: 2;
}
.full-bleed {
  width: 100%;
  grid-column: 1 / -1;
}
.navig {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  list-style-type: none;
}
.logo {
  height: 90px;
  width: 90px;
  align-items: left;
}
.headline {
    display: flex;
    flex-direction: row;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
  }